/*
 * Removing odd borders from image,
 * source: http://stackoverflow.com/questions/23082660/how-to-style-images-in-reveal-js
 */
/*.reveal section img {
  margin: 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 0px solid #222;
  box-shadow: none; }*/

.reveal section img { 
      margin: 0px; 
      background:none; 
      border:none; 
      box-shadow:none; }


.reveal ol, .reveal dl, .reveal ul
{
      display: inline-block;
      font-size: 18pt;
      text-align: left;
      left: 0px;
      width: 90%;
}

/* typography */
p.minor {
      font-size: 10pt;
      color: #AAA;
}

p.smallfnt {
      font-size: 14pt;
}

p.mediumfnt {
      font-size: 18pt;
}

p.largefnt {
      font-size: 22pt;
}


.greencomment {
      border:1px solid red;
      display:inline-block;
      text-align:right;
      color: green;
      font-style: italic;
      width:49%
}


.reveal table {
      font-size:14pt;
}

/* This table is for aligning elements - pretty useful! */
.reveal table>tbody.invis {
      border: none
}

.reveal table>tbody.invis>tr>td {
      border: 0px solid;
}

/* This is standard table with lines too guide */
.reveal table>thead {
      background-color: #DDD;
      border-bottom:2px double black;
}

.reveal table>thead>tr>th {
      border-left:2px double black;
}

.reveal table>tbody>tr>td {
      border-left:2px double black;
      vertical-align: middle;
}

.reveal table>tbody>tr>td:first-child {
      border-left:0px;
}

.reveal table>thead>tr>th:first-child {
      border-left:0px;
}


/* The bounding box for relative positioning is 960x680px */
div.leftcol {
      position:absolute;
      left:0;
      top:0px;
      width:49%;
      height:400px;
      border:0px solid #378;
}

div.rightcol {
      position:absolute;
      right:0;
      top:0px;
      width:49%;
      height:400px;
      border:0px solid #B3F;                        
}

/* A row of the slide starting after the header */
div.sliderow {
      position: absolute;
      top: 100px;
      width: 100%;
      border:0px solid #00F;                  
}


/* Contains the caption of the slide */
div.slideheader {
      position:absolute;
      top:0 px;
      width:100%;
      border:0px solid #F00;            
}

/* A footer-row for a slide */
div.slidefooter {
      position:absolute;
      bottom: 0px;
      width:100%;
      border:0px solid #F00;      
}

/* The box spans the whole size of the presentation (but avoids the footer-area) */
div.bbox {
      margin:0 auto;
      width: 960px;
      height: 600px;
      border:0px solid #0F0;
      position: relative;
}


/* Single-direction drop shadow */
hr.shadow {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}